body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #e0e0e0;
}

/* whole top navbar */
nav {
    background-color: #001c38;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    padding-top: 10px;
    height: 45px;
}

/* logo on the left */
.logo {
    color: #ffffff;
    font-size: 35px;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    align-items: center;
}
.logo img{
    max-height: 100%;
    width: auto;
    margin-right: 10px;
    border-radius: 10px;
}

/* links on the navbar */
.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-links li {
    margin: 0 10px;
}
.nav-links li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.nav-links li a:hover {
    background-color: #012b55;
    border-radius: 4px;
}

/* sign in button on the right */
.sign-in{
    color: #ffffff;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 4px;
    width: fit-content;
    padding: 10px;
    padding-inline: 20px;
    background-color: #ff6600;
    transition: background-color 0.3s ease;
}

.sign-in:hover {
    background-color: #cc5200;
}

/* dropdown user menu on hover */

.userbar {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.usermenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    background: #333;
    padding: 10px;
    padding-top: 15px;
    border-radius: 8px;
    min-width: 150px;
    text-align: center;
    transition: 0.4s ease;
    z-index: 2;
}

.userbar:hover .usermenu {
    visibility: visible;
    opacity: 1;
}
.arrow{
    font-size: 20px;
    transition: transform 0.4s ease;
    color: white;
}
.userbar:hover .arrow{
    transform: rotate(90deg);
} 

.usermenu a {
    display: block;
    color: white;
    padding: 5px 0;
    text-decoration: none;
    transition: 0.4s ease;
    border-radius: 10px;
}

.usermenu a:hover {
    background-color: #001c38;
}

.logout {
    background-color: #ff6600;
    width: fit-content;
    padding: 10px;
    padding-inline: 20px;
}
.logout:hover {
    background-color: #cc0000;
}

.nameuser {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}
.nameandlogin {
    display: flex;
    align-items: center;
}

/* when display < 1000px */
.menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
}
@media (max-width: 1000px) {
    nav {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .logo img {
        height: 30px;
        width: auto;
    }
    .nav-links {
        margin: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }
    .nav-links li {
        display: flex;
        margin: 0;
        align-items: center;

    }
    .nav-links li a {
        width: 100%;
        text-align: center;
        padding: 10px 20px;
    }
    .nameandlogin {
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap:5px;
    }
    .nameuser, .sign-in, .logout {
        margin: 10px 0;
    }
    .menu-icon {
        display: block;
        font-size: 23px;
        color: #ffffff;
        cursor: pointer;
        border-radius: 10px;
        padding-inline: 5px;
    }
    .menu-icon:hover {
        background-color: #002244;
        transition-duration: 0.5s;
    }
}
