{% extends 'base.html' %}

{%block title%}Sign in{%endblock%}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/login.css' %}">

    <div class="login-container" id="login-container">
            <div class="messages">
                {% if messages %}
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
    </div>
{% endblock %}