<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%} - Randdealer</title>
    <link rel="stylesheet" href="{%static 'styles/base.css'%}">
</head>
<body>
    <nav>
        <a href="#" class="logo"> <img src="{% static 'logo/ChatGPTLogoNoName.png' %}" alt="" /> RandDealer</a>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776; Menu</label>
        <ul class="nav-links" id="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'buy' %}">Buy</a></li>
            <li><a href="{% url 'sell' %}">Sell</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li> 
        </ul>
        {% if user.is_authenticated %}
            <span class="nameandlogin"><span class="nameuser">Logged in as: {{ user.username }}</span><a href="{% url 'signout' %}" class="logout">Logout</a></span>
        {% else %}
            <a href="{% url 'signin' %}" class="sign-in">Sign In</a>
        {% endif %}
    </nav>

    {% block content %}
    
    {% endblock %}

    <footer style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #001c38; color: #ffffff; text-align: center; padding: 5px 0; box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); font-size: 12px;">
        <p>&copy; 2024 RandDealer</p>
    </footer>

    <script>
        document.querySelector('.menu-icon').addEventListener('click', function() {
            var navLinks = document.getElementById('nav-links');
            if (navLinks.style.display === 'flex') {
                navLinks.style.display = 'none';
            } else {
                navLinks.style.display = 'flex';
            }
        });
    </script>
</body>
</html>
