{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ car.get_maker_display }} {{ car.model }}
{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/RandDealer/car.css' %}">

<div class="maincontainer">
    <div class="container">
        <div class="containersection1">
            <div class="titlediv">
                <span class="nameandmodelspan">{{ car.get_maker_display }} {{ car.model }}</span>
                <span class="conditionspan">{{ car.get_condition_display }}</span>
            </div>
            <div class="pricediv">
                ${{ car.price|intcomma }}
            </div>
        </div>
        
        <div class="carousel-container containersection2">
            <div class="carousel">
                {% for image in car.images.all %}
                    <img 
                        src="{{ image.image.url }}" 
                        alt="Image of {{ car.year }} {{ car.get_maker_display }} {{ car.model }}"
                        class="{% if forloop.first %}active{% endif %}" onclick="zoompic()">
                {% empty %}
                    <p>No image available</p>
                {% endfor %}
                <button class="arrow left">&lt;</button>
                <button class="arrow right">&gt;</button>
            </div>

            <div class="thumbnails">
                {% for image in car.images.all %}
                    <img 
                        src="{{ image.image.url }}" 
                        alt="Thumbnail of {{ car.year }} {{ car.get_maker_display }} {{ car.model }}"
                        class="{% if forloop.first %}active{% endif %}" 
                        data-index="{{ forloop.counter0 }}">
                {% endfor %}
            </div>
        </div>

        <div class="containersection3">
            <div class="sellerinfo">

                <p class="sellerinfotitle">Seller</p>

                <div class="sellerpicandname">

                    <div class="sellerpicture">
                    {% if car.owner.userprofile.profile_picture %}
                        <img src="{{ car.owner.userprofile.profile_picture.url }}" alt="Profile Picture" class="profilepic">
                    {% else %}
                        <img src="{% static 'profile/profile-icon.png' %}" alt="Default Profile Picture" class="profilepic">
                    {% endif %}
                    </div>
                    <div class="sellername"> 
                        {% if car.owner.first_name %}
                            {{ car.owner.first_name }} {{ car.owner.last_name }}
                        {% else %}
                            {{ car.owner.username }}
                        {% endif %}
                    </div>

                </div> 
                <p> Joined on: {{ car.owner.date_joined|date:"d M Y" }}</p>

                <p class="sellercontact"><a href="mailto:{{ car.owner.email }}?subject=Interested in the {{ car.year }} {{ car.get_maker_display }} {{ car.model }}">Contact Seller</a></p>

            </div>

            <div class="carinfo">
                <p class="carinfotitle">Car Info</p>
                <p>Year: {{ car.year }}</p>
                <p>Price: <span class="price">${{ car.price|intcomma }}</span></p>
                <p>Posted: {{ car.created_at|naturaltime }}</p>
                <p>Mileage: {{ car.mileage|intcomma }}</p>
            </div>
        </div> 
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const images = document.querySelectorAll('.carousel img');
        const thumbnails = document.querySelectorAll('.thumbnails img');
        const leftArrow = document.querySelector('.carousel .arrow.left');
        const rightArrow = document.querySelector('.carousel .arrow.right');
        let currentIndex = 0;

        function updateCarousel(newIndex) {
            images[currentIndex].classList.remove('active');
            thumbnails[currentIndex].classList.remove('active');
            currentIndex = (newIndex + images.length) % images.length;
            images[currentIndex].classList.add('active');
            thumbnails[currentIndex].classList.add('active');
        }

        thumbnails.forEach((thumbnail, index) => {
            thumbnail.addEventListener('click', function () {
                updateCarousel(index);
            });
        });

        leftArrow.addEventListener('click', function () {
            updateCarousel(currentIndex - 1);
        });

        rightArrow.addEventListener('click', function () {
            updateCarousel(currentIndex + 1);
        });
    });


    function zoompic() {
        let element = document.querySelector('.active');
        if (!element) return;
        
        if (element.style.objectFit === 'contain') {
            element.style.objectFit = 'cover';
            element.style.cursor = 'zoom-in';
        } else {
            element.style.objectFit = 'contain';
            element.style.cursor = 'zoom-out';
        }
    }


</script>
{% endblock %}
