{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ car.get_maker_display }} {{ car.model }}
{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/car.css' %}">

<div class="maincontainer">
    <div class="container">
        <div class="carinfo">
            <h1 style="margin-bottom: 0;">{{ car.get_maker_display }} {{ car.model }}</h1>
            <h3 style="margin-top: 0;">{{ car.get_condition_display }}</h3>
            <p>Year: {{ car.year }}</p>
            <p>Price: <span class="price">${{ car.price|intcomma }}</span></p>
            <p>Posted: {{ car.created_at|naturaltime }}</p>
        </div>

        <div class="carousel-container">
            <div class="carousel">
                {% for image in car.images.all %}
                    <img 
                        src="{{ image.image.url }}" 
                        alt="Image of {{ car.year }} {{ car.get_maker_display }} {{ car.model }}"
                        class="{% if forloop.first %}active{% endif %}">
                {% empty %}
                    <p>No image available</p>
                {% endfor %}
                <button class="arrow left">&lt;</button>
                <button class="arrow right">&gt;</button>
            </div>

            <div class="thumbnails">
                {% for image in car.images.all %}
                    <img 
                        src="{{ image.image.url }}" 
                        alt="Thumbnail of {{ car.year }} {{ car.get_maker_display }} {{ car.model }}"
                        class="{% if forloop.first %}active{% endif %}" 
                        data-index="{{ forloop.counter0 }}">
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const images = document.querySelectorAll('.carousel img');
        const thumbnails = document.querySelectorAll('.thumbnails img');
        const leftArrow = document.querySelector('.carousel .arrow.left');
        const rightArrow = document.querySelector('.carousel .arrow.right');
        let currentIndex = 0;

        function updateCarousel(newIndex) {
            images[currentIndex].classList.remove('active');
            thumbnails[currentIndex].classList.remove('active');
            currentIndex = (newIndex + images.length) % images.length;
            images[currentIndex].classList.add('active');
            thumbnails[currentIndex].classList.add('active');
        }

        thumbnails.forEach((thumbnail, index) => {
            thumbnail.addEventListener('click', function () {
                updateCarousel(index);
            });
        });

        leftArrow.addEventListener('click', function () {
            updateCarousel(currentIndex - 1);
        });

        rightArrow.addEventListener('click', function () {
            updateCarousel(currentIndex + 1);
        });
    });
</script>
{% endblock %}
