{% extends "base.html" %}
{% load humanize %}

{%block title%}Catalog{%endblock%}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/carlist.css' %}">

<div class="bigcontainer">
    
    {% for car in cars %}
    
    <a href="{% url 'car' car.id %}" style="text-decoration:none;" class="container">
            <div class="carimg">
                {% with car.images.all|first as first_image %}
                    {% if first_image %}
                        <img src="{{ first_image.image.url }}" alt="Image of {{ car.year }} {{ car.get_maker_display }} {{ car.model }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                {% endwith %}
            </div>

            <div class="carinfo">
                <h2>{{ car.get_maker_display }} {{ car.model }}</h2>
                <p>Year: {{ car.year }}</p>
                <p class="price">Price: ${{ car.price|floatformat:2|intcomma }}</p>
            </div>
    </a>
    {% endfor %}    
</div>

{% endblock %}
