{%extends 'base.html'%}

{%block content%}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/confirmuser.css' %}">

<div class="maindiv">
    {% if confirmed %}
        <h2>Your account has been confirmed. Please set a password to continue.</h2>
        <form action="setpassword" method="POST">
            {% csrf_token %}
        <div class="form-group">
            <label for="username">Username: {{ username }}</label>
            <input type="hidden" name="username" value="{{ username }}">
        </div>
        <div class="form-group">
            <label for="email">Email: {{ email }}</label>
            <input type="hidden" name="email" value="{{ email }}">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
            <button type="submit" class="btn-primary">Set password</button>
        </form>
        
    {% else %}
    
    <h2>Please type the code sent to your e-mail: {{ email }}</h2>
    
    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <form action="userconfirmed" method="POST">
        {% csrf_token %}
    <div class="form-group">
        Username: {{ username }}
        <input type="hidden" name="username" value="{{ username }}">
    </div>
    <div class="form-group">
        Email: {{ email }}
        <input type="hidden" name="email" value="{{ email }}">
    </div>
    <div class="form-group">
        <label for="code">Code:</label>
        <input type="text" name="code" id="code" required>
        <button type="submit" class="btn-primary">Confirm</button>
    </div>

    </form>
    {% endif %}



</div>

{%endblock%}