{% extends 'base.html' %}

{%block title%}Welcome{%endblock%}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/RandDealer/home.css'%}">

<div class="home-page">
    <div class="container">
        <h1 class="display-4 text-center">Welcome to RandDealer</h1>
        <p class="lead text-center">Your one-stop shop for buying, selling, and trading cars!</p>

        <div class="services mt-5">
            <h2 class="h3">Our Services</h2>
            <ul class="list-group">
                <li class="list-group-item">Sell your car at the best price</li>
                <li class="list-group-item">Buy a wide range of used cars</li>
                <li class="list-group-item">Trade your car for another</li>
            </ul>
        </div>

        <div class="deals mt-5">
            <h2 class="h3">Why Choose Us?</h2>
            <ul class="list-group">
                <li class="list-group-item">✔️ 120-Point Inspection on <strong>Every Vehicle</strong></li>
                <li class="list-group-item">✔️ <strong>6-Month</strong> Limited Warranty Included </li>
                <li class="list-group-item">✔️ <strong>Free CarFax</strong> Report with <strong>Every Purchase</strong> </li>
            </ul>
        </div>

        <div class="newsletter mt-5">
            <h2 class="h3">Subscribe to our Newsletter</h2>
            <form action="{% url 'newslettersub' %}" method="post" class="form-inline">
                {%csrf_token%}
                <div>
                    <label for="email" class="emaillabel">Email:</label>
                    <input type="email" id="email" name="email" required class="form-control" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn">Subscribe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
