{% extends "base.html" %}

{%block title%}Sell{%endblock%}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/regcar.css' %}">


    <div class="container" class="fade-in">
        <h2>Register a New Car</h2>
        {% if messages %}
            {% for message in messages %}
                <p class="message {% if 'success' in message %}success{% elif 'error' in message %}error{% endif %}">{{ message }}</p>
                <div class="button-container"></div>
                    {% if "success" in message %}
                        <a href="{% url 'home' %}"><button>Back to Home</button></a>
                    {% elif "error" in message %}
                        <a href="{% url 'sell' %}"><button>Try Again</button></a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <form method="post" action="sell" enctype="multipart/form-data">
                {% csrf_token %}
                {{ car_form.as_p }}
                <div class="form-group file-input">
                    <label for="images">Upload Car Images</label>
                    <input type="file" id="images" name="images" multiple required onchange="previewImages()">
                    <span class="error-message">Please upload at least one image.</span>
                </div>
                <div class="image-preview" id="imagePreview"></div>
                <div class="button-container">
                    <button type="submit">Register Car</button>
                </div>
            </form>
        {% endif %}
    </div>

    <script>
        function previewImages() {
            var preview = document.getElementById('imagePreview');
            preview.innerHTML = '';
            var files = document.getElementById('images').files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();

                reader.onload = function(e) {
                    var imageBox = document.createElement('div');
                    imageBox.classList.add('image-box');

                    var img = document.createElement('img');
                    img.src = e.target.result;

                    var removeBtn = document.createElement('button');
                    removeBtn.classList.add('remove-btn');
                    removeBtn.innerHTML = 'X';
                    removeBtn.onclick = function() {
                        imageBox.remove();
                    };

                    imageBox.appendChild(img);
                    imageBox.appendChild(removeBtn);
                    preview.appendChild(imageBox);
                }

                reader.readAsDataURL(file);
            }
        }
    </script>
{% endblock %}
