
/* whole page */
body {
    background-color: aliceblue;
}
.mainbox{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

/* profile top display */
.profileupper{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(204, 203, 203);
    box-shadow: 0 4px 10px -4px rgba(211, 210, 210, 0.63);
    padding: 20px;
}

.profilepicbox{
    width: 100px;
    height: 100px;
    position: relative;
}

.profilepic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.editicon{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10px;
    bottom: 10px;
    border-radius: 100px;
    transition-duration: 0.2s;
}
.editicon:hover{
    scale: 1.5;
}

.profilenamebox{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profilename{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

/* Profile middle display*/
.profilemiddle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


.userinfo{
    background: linear-gradient(0deg,rgb(245, 245, 245) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(179, 179, 179);
    padding: 30px;
}
.userinfo > div {
    margin-bottom: 10px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 3px rgb(236, 236, 236);
}

.userinfo > div > span {
    font-family: arial;

}

.carscontainer {
    display: flex;
    margin-top: 20px;
}

